body {
  background-image: url("images/background.jpg");
}

.navbar-brand,
.navButton {
  font-family: "Lobster", cursive;
  font-size: 25px;
}

.navButton {
  border: white solid 0.2px;
}

.tileOne {
  margin: 75px 25px 50px 50px;
}
.tileTwo {
  margin: 75px 50px 50px 25px;
  text-align: center;
}

#about_me_picture {
  width: 200px;
  height: 200px;
  float: left;
  margin: 10px;
}

.paragraph {
  line-height: 300%;
  clear: both;
}

p,
h2 {
  font-weight: bold;
}

.navbar-item,
#content-header {
  font-family: "Lobster", cursive;
  font-weight: bolder;
}

.linkImage {
  width: 250px;
  height: 150px;
}

.page-header {
  color: white;
}

.card {
  float: left;
  margin: 10px;
  height: 400px;
  width: 200px;
}
.cardThree {
  clear: left;
}

.box2 {
  height: 200px;
}
